.item {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 70%;
    height: 130px;
    margin: 0 auto;
}

.item img {
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(0, 216, 72);
    border-radius: 50%;
    background: white;
}

#paginacionIzquierda a, #paginacionDerecha a{
    margin: 0 20px;
    width: 10px;
}

.hidden{
    background: none;
    border: none;
}

.hidden:hover{
    background: none;
    border: none;
}

#paginacionIzquierda , #paginacionDerecha{
    margin:  0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 620px;
}

.item a{
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.info{
    width: 100px;
}

.item h2 {
    font-size: 16px;
}

#videojuegos,
#merchandising {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 50%;
    justify-content: center;
    align-content: start;
}

.button{
    padding: 5px 20px;
    margin: 0 auto;
}

#linea{
    border: 1px solid rgb(0, 216, 72);
    position: absolute;
    height: 90%;
    top: 50%;
    transform: translate(0, -50%);
}

#content {
    display: flex;
    justify-content: center;
    padding: 20px 0 120px 0;
    position: relative;
}

.content-inside{
    padding: 50px 0 100px 0;
}

h1 {
    display: flex;
    justify-content: center;
}

#h1merch,
#h1apps, .separator {
    grid-column: 1 / span 2;
}

.separator{
    display: block;
    margin: 0 auto;
    height: 100px;
}

@media only screen and (max-width: 1400px) {

    .content-inside {
        padding: 50px 0 100px 0;
    }

    #paginacionIzquierda , #paginacionDerecha{
        top: 980px;
    }    

    #h1merch,
    #h1apps {
        font-size: 9px;
    }

    #kind{
        display: table;
        justify-items: center;
    }

    #videojuegos,
    #merchandising {
        display: block;
    }

    @media only screen and (max-width: 768px) {
        .item img {
            width: 10vw;
            height: 10vw;
        }

        #kind{
            display: grid;
        }
    }

    @media only screen and (max-width: 400px) {

        select{
            width: 140px;
        }

        .item{
            margin-left: 10px;
        }

        .item h2 {
            font-size: 14px;
        }

        #h1merch,
        #h1apps {
            font-size: 7px;
        }

        .separator{
            display: grid;
        }
    }

}