.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item img {
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(0, 216, 72);
    border-radius: 50%;
}

#videojuegos,
#merchandising {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 50%;
    justify-content: center;
}

#videojuegos {
    margin-right: 20px;
}

#merchandising {
    margin-left: 20px;
}

#linea {
    border: 1px solid rgb(0, 216, 72);
    height: 60%;
    position: absolute;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
}

h1 {
    display: flex;
    justify-content: center;
}

#h1merch,
#h1apps {
    grid-column: 1 / span 2;
}

@media only screen and (max-width: 1000px) {

    #h1merch,
    #h1apps {
        font-size: 2vw;
    }

    #videojuegos,
    #merchandising {
        display: block;
    }

    #linea {
        height: 1000px;
    }

    .item img {
        width: 10vw;
        height: 10vw;
    }

}