#principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 70px 50px 115px 50px;
}

#content h1 {
    position: absolute;
    top: 50px;
    left: 40px;
}

input {
    height: 3vh;
    min-height: 18px;
    max-height: 24px;
    width: 90%;
}

textarea {
    height: 10vh;
    min-height: 58px;
    max-height: 269px;
    width: 278px;
    max-width: 278px;
}

label {
    display: flex;
    justify-content: left;
}

h1 {
    text-align: center;
}

#parrafo {
    text-align: left;
    font-size: 112%;
}

#formulario,
#parrafo {
    width: 300px;
    max-width: 350px;
}

#lineavertical {
    border: 1px solid rgb(0, 216, 72);
    height: 55vh;
    min-height: 350px;
    margin: 0px 50px 0px 50px;
}

#sent {
    padding: 15px 0;
}

#sent label {
    justify-content: center;
}

.button {
    height: 50px;
    width: 100px;
    margin: 0 auto;
    display: table;
}

/* MOVIL */
@media only screen and (max-width: 768px) {

    #content {
        text-align: center;
        display: inline-block;
        padding: 135px 0px 120px 0px;
        width: 90vw;
        max-width: 345px;
    }

    input,
    textarea {
        width: 72vw;
        max-width: 312px;
    }

    #lineavertical {
        border: 1px solid rgb(0, 216, 72);
        height: 0px;
        min-height: 0px;
        margin: 50px 0px 50px 0px;
    }
}