.añadirVideojuego{
    position: absolute;
    left: 60%;
    top: 25%;
    width: 25%;
}

.cuadroTexto{
    margin-left: 15%;
    margin-top: 1.25%;
}

.boton {
    margin-left: 15%;
    margin-top: 1.25%;
}