#principal {
    background-image: url(../images/fondo.jpg);
    background-position: center;
    background-size: cover;
}

#eslogan {
    font-size: x-large;
}

#eslogan h1 {
    position: relative;
    left: 10%;
    width: 243px;
}

#proyecto {
    padding: 50px 0px 50px 0px;
}

.button {
    position: relative;
    left: 10%;
    padding: 12px;
    padding-right: 20px;
    padding-left: 20px;
}

/* MOVIL */

@media only screen and (max-width: 768px) {
    #eslogan {
        font-size: larger;
    }
}