#principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    display: inline-flex;
    height: 100%;
    align-items: center;
}

form {
    text-align: center;
    padding: 50px;
}

input {
    height: 3vh;
    min-height: 18px;
    max-height: 24px;
    width: 90%;
}

select {
    min-height: 22px;
    max-height: 30px;
    height: 4vh;
    width: 94%;
}

label {
    display: flex;
    justify-content: left;
}

p,
h4 {
    margin: 0px;
}

#tyc {
    margin: 0 auto;
    width: 200px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

#separator {
    border: 1px solid rgb(0, 216, 72);
    height: 70vh;
    min-height: 600px;
    max-height: 675px;
    margin: 3vw;
}

#iniciosesion,
#registro {
    height: 625px;
    width: 25vw;
    max-width: 350px;
}

.button {
    margin: 10px;
    padding: 10px 20px 10px 20px;
    height: 50px;
    width: 100px;
}

#error label {
    justify-content: center;
}

/* MOVIL */

@media only screen and (max-width: 768px) {

    #content {
        display: block;
        padding: 50px 0 100px 0;
    }

    #form {
        text-align: center;
        padding: 0;
    }

    #registro {
        height: 630px;
        width: 90vw;
        padding: 0;
    }

    #iniciosesion {
        height: 320px;
        width: 90vw;
        padding: 10px 0;
    }

    input {
        width: 62vw;
        max-width: 312px;
        min-width: 260px;
    }

    select {
        width: 64vw;
        max-width: 325px;
        min-width: 270px;
    }

    #separator {
        border: 1px solid rgb(0, 216, 72);
        height: 0px;
        min-width: 260px;
        min-height: 0px;
        width: 90%;
        margin: 35px auto 20px;
    }
}