#content {
    padding-top: 112px;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#principal {
    display: flex;
}

#principal img {
    width: 200px;
    height: 200px;
    border: 1px solid rgb(0, 216, 72);
    border-radius: 50%;
}

#descripcion {
    max-width: 700px;
    margin: 0 30px;
}

.button {
    padding: 10px 20px;
}

.item {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    margin: 40px 0;
}

.item h4{
    overflow: hidden;
    max-height: 150px;
    word-wrap: break-word;
    max-width: 60vw;
}

.item img {
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(0, 216, 72);
    border-radius: 50%;
}

#puntuacion img {
    width: 20px;
    height: 20px;
}

#puntuacion h2{
    margin: 0;
}

#puntuacion h3{
    margin-right: 10px;
}

.estrella img {
    width: 20px;
    height: 20px;
    border: 0;
}

#comentarios {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    padding-bottom: 50px;
}

#h1comentario, #divcomment {
    grid-column: 1 / span 2;
}

#divcomment{
    grid-column: 1 / span 2;
    justify-content: center;
}

.info {
    display: grid;
    width: 210px;
    justify-items: center;
}

form{
    display: inline-grid;
    justify-items: center;
}

#descripcion p {
    overflow: hidden;
    max-height: 150px;
}

input{
    width: 50px;
}

.estrella {
    display: flex;
    align-items: center;
}

#puntuacion {
    position: absolute;
    display: grid;
    right: 50px;
    top: 10px;
}

#cabecera {
    position: absolute;
    display: flex;
    top: 50px;
    justify-content: center;
    width: 100%;
}

#divcomment form{
    display: table;
    margin: 0 auto;
}

#botonesform{
    display: block;
}

#botonesform button{
    margin: 5px;
}

#divcomment input{
    margin: 15px auto;
}

#divcomment div{
    display: inline-grid;
}

#seccion{
    width: 202px;
}

#linea {
    border: 1px solid rgb(0, 216, 72);
    width: 90%;
    margin: 60px auto;
}

#error label {
    justify-content: center;
}

#deletecomment{
    align-content: end;
}

@media only screen and (max-width: 1400px) {
    #comentarios {
        margin: 0 auto;
        width: 90%;
        display: block;
    }

    .item {
        margin: 40px auto;
    }
}

@media only screen and (max-width: 1000px) {

    .content-inside {
        padding: 50px 0 100px 0;
    }

    #cabecera {
        width: 90%;
    }

    .estrella {
        margin: 0;
    }

    #content {
        display: block;
        margin: 0 auto 150px auto;
        width: 90%;
    }

    #puntuacion {
        position: absolute;
        left: 0px;
        top: 482px;
    }

    .info {
        align-items: center;
    }

    #descripcion {
        width: 90vw;
    }

    .info {
        align-items: center;
    }

    @media only screen and (max-width: 800px) {

        #divcomment form{
            display: grid;
            justify-content: center;
        }

        #h1comentario{
            text-align: center;
        }

        #content{
            padding-top: 100px;
        }

        #principal {
            display: block;
        }

        #principal h2 {
            text-align: center;
            margin-bottom: 110px;
        }

        #principal img {
            margin: 0;
        }

        #seccion {
            display: grid;
            justify-content: center;
            margin: 0 auto;
        }

        #cabecera h1 {
            margin: 20px auto;
            text-align: center;
        }

        #puntuacion {
            position: absolute;
            justify-content: center;
            top: 375px;
            width: 100%;
        }

        #descripcion {
            text-align: justify;
            margin: 0 auto;
        }
    }
}