.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    display: block;
    width: 100%;
    padding: 130px 0 150px 0; 
}

#cabecera {
    display: inline-flex;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 60px;
}

#cuadricula {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lineavertical {
    border: 1px solid rgb(0, 216, 72);
    height: 55vh;
    min-height: 350px;
    margin: 0 50px;
    width: 0;
}

#tabla>table {
    background: white;
    color: black;
    border-spacing: 0;
    overflow: auto;
    width: 40vw;
    max-width: 632px;
    table-layout: auto;
    text-align: center;
    display: table-caption;
    max-height: 60vh;
}
#title {
    min-width: 400px;
}

#price {
    min-width: 100px;
}

#icon2 {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

input {
    height: 3vh;
    min-height: 18px;
    max-height: 24px;
    width: 90%;
}

#volver {
    width: 24px;
    height: 24px;
    margin: 13px;
}

.delete {
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
}

.button {
    margin: 10px;
    padding: 10px 20px;
    height: 50px;
    width: 125px;
    margin: 0 auto;
}

form input {
    height: 2vh;
    min-height: 30px;
    max-height: 270px;
    width: 270px;
    max-width: 280px;
    min-width: 150px;
}

textarea {
    min-height: 10vh;
    min-width: 267px;
    max-height: 10vh;
    max-width: 267px;
}

form {
    display: grid;
    justify-content: center;
}

td {
    padding-inline-end: 10px;
    padding-inline-start: 10px;
}

tr:nth-child(even) {
    background: #FFF
}

tr:nth-child(odd) {
    background: #CCC
}

#error label {
    justify-content: center;
}

@media only screen and (max-height: 560px) {
    #content {
        padding: 150px 0 150px 0;
    }

    @media only screen and (max-width: 768px) {
        #content {
            padding: 135px 0 150px 0;
        }
    }
}

/* MOVIL */
@media only screen and (max-width: 1160px) {

    #tabla>table {
        width: 90vw;
    }

    #content {
        height: 100%;
        padding: 130px 0 150px 0;
    }

    .content {
        display: block;
    }

    #cabecera h1 {
        width: 56vw;
        font-size: 25px;
    }

    #cuadricula {
        display: block;
        padding-top: 40px;
    }

    #tabla,
    #form {
        display: grid;
        justify-content: center;
        width: 90vw;
        margin: 0 auto;
    }

    #lineavertical {
        border: 1px solid rgb(0, 216, 72);
        height: 0px;
        min-height: 0px;
        margin: 30px auto 0px auto;
        width: 65vw;
    }

    @media only screen and (max-width: 340px) {
        #icon2 {
            margin: 0 4px;
        }

        #cabecera h1 {
            margin: 0;
        }
    }
}