.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    display: block;
    height: 73vh;
    width: 100%;
}

#cabecera {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

#cuadricula{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lineavertical {
    border: 1px solid rgb(0, 216, 72);
    height: 55vh;
    min-height: 350px;
    margin: 0px 50px 0px 50px;
    width: 0;
}

#tabla>table {
    background: white;
    color: black;
    border-spacing: 0;
    overflow: auto;
    table-layout: auto;
    text-align: center;
    display: table-caption;
}

#title{
    min-width: 400px;
}

#price{
    min-width: 100px;
}

#icon2 {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

input {
    height: 3vh;
    min-height: 18px;
    max-height: 24px;
    width: 90%;
}

#volver {
    width: 24px;
    height: 24px;
    margin: 13px;
}

.delete{
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
}

.button {
    margin: 10px;
    padding: 10px 20px;
    height: 50px;
    width: 125px;
    margin: 0 auto;
}

form input {
    height: 2vh;
    min-height: 30px;
    max-height: 270px;
    width: 280px;
    max-width: 280px;
    min-width: 150px;
}

textarea {
    height: 4vh;
    min-height: 55px;
    max-height: 170px;
    width: 280px;
    max-width: 280px;
    min-width: 150px;
}

form{
    display: grid;
    justify-content: center;
}

td {
    padding-inline-end: 10px;
    padding-inline-start: 10px;
}

tr:nth-child(even) {
    background: #FFF
}

tr:nth-child(odd) {
    background: #CCC
}

/* MOVIL */
@media only screen and (max-width: 1000px) {

    #content {
        padding: 100px 0 150px 0;
    }

    .content{
        display: block;
    }

    #cabecera h1 {
        width: 56vw;
        margin: auto;
    }

    #cuadricula{
        display: block;
    }
    #tabla, #form{
        display: grid;
        justify-content: center;
    }

    input,
    textarea {
        width: 72vw;
        max-width: 312px;
    }

    #lineavertical {
        border: 1px solid rgb(0, 216, 72);
        height: 0px;
        min-height: 0px;
        min-width: 470px;
        margin: 30px auto 0px auto;
        width: 65vw;
    }
}