.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabecera h1 {
    display: flex;
    align-items: center;
}

#cabecera {
    display: inline-flex;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 60px;
}

#content {
    display: block;
    width: 100%;
    padding: 120px 0;
}

#form {
    height: 73vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

input {
    height: 3vh;
    min-height: 18px;
    max-height: 24px;
    width: 90%;
}

select {
    width: 94%
}

label {
    display: flex;
    justify-content: left;
}

.button {
    padding: 10px 20px;
}

form {
    display: inline-block;
    width: 66vw;
    max-width: 400px;
    text-align: center;
}

.error,
.success {
    position: absolute;
    top: 50px;
    left: 0px;
    padding: 10px 0;
    border-radius: 0 0 5px 5px;
    color: #fff;
    width: 100%;
    text-align: center;
    display: none;
}

.error {
    background-color: red;
}

.success {
    background-color: green;
}

#user {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

#volver {
    width: 24px;
    height: 24px;
    margin: 13px;
}

.button {
    margin: 10px;
    padding: 10px 20px;
    height: 50px;
    width: 125px;
    margin: 0 auto;
}

@media only screen and (max-height: 777px) {

    #cuadricula {
        padding-top: 40px;
    }

    @media only screen and (max-width: 1065px) {
        #content {
            padding: 200px 0 175px 0;
        }
    }
}