.content{
    display: inline-flex;
    justify-content: center;
}


#cabecera h1 {
    display: flex;
    align-items: center;
}

#cabecera {
    display: inline-flex;
    position: absolute;
    align-items: center;
    top: 70px;
    left: 20px;
}

#content{
    display: flex;
    align-items: center;
}

input{
    height: 3vh;
    min-height: 18px;
    max-height: 24px;
    width: 90%;
}

select{ 
    width: 94%
}

label {
    display: flex;
    justify-content: left;
}

.button{
    padding: 10px 20px;
}

form{
    display: inline-block;
    width: 66vw;
    max-width: 328px;
    text-align: center;
}

.error, .success{
    position: absolute;
    top: 50px;
    left: 0px;
    padding: 10px 0 ;
    border-radius:  0 0 5px 5px;
    color: #fff;
    width: 100%;
    text-align: center;
    display: none;
}

.error{
    background-color: red;
}

.success{
    background-color: green;
}

#user {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

#volver {
    width: 24px;
    height: 24px;
    margin: 13px;
}