.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabecera h1 {
    display: flex;
    align-items: center;
}

#cabecera {
    display: inline-flex;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 60px;
}

#content {
    display: block;
    width: 100%;
    padding: 150px 0;
}

#form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

input {
    height: 3vh;
    min-height: 18px;
    max-height: 24px;
    width: 90%;
}

textarea {
    height: 10vh;
    min-height: 58px;
    max-height: 269px;
    width: 90%;
    max-width: 90%;
    min-width: 90%;
}

select {
    width: 94%
}

label {
    display: flex;
    justify-content: left;
}

.button {
    padding: 10px 20px;
}

form {
    display: inline-block;
    width: 66vw;
    max-width: 400px;
    text-align: center;
}

#user {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

#volver {
    width: 24px;
    height: 24px;
    margin: 13px;
}

.button {
    margin: 10px;
    padding: 10px 20px;
    height: 50px;
    width: 125px;
    margin: 0 auto;
}

@media only screen and (max-height: 777px) {

    #cuadricula {
        padding-top: 40px;
    }

    @media only screen and (max-width: 1065px) {
        #content {
            padding: 200px 0 175px 0;
        }
    }
}