.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    display: block;
    width: 100%;
}

#tabla {
    display: flex;
    justify-content: center;
}

select {
    max-width: 200px;
}

#tabla>table {
    margin: 20px 0;
    background: white;
    color: black;
    border-spacing: 0;
    overflow: auto;
    table-layout: auto;
    text-align: justify;
    display: table-caption;
    justify-content: center;
}

#cabecera {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    position: absolute;
    top: 60px;
}

.button{
    padding: 5px 20px;
}

td {
    padding-inline-end: 10px;
    padding-inline-start: 10px;
}

.icono {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #00D848;
    border-radius: 50%;
}

.fecha {
    text-align: right;
}

tr:nth-child(even) {
    background: #FFF
}

tr:nth-child(odd) {
    background: #CCC
}

#content {
    padding: 150px 50px 130px 50px;
}

@media only screen and (max-width: 768px) {

    #tabla>table {
        width: 80vw;
    }

    #content {
        padding: 150px 50px 130px 50px;
    }

}