.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    display: block;
    width: 100%;
    padding: 130px 0 150px 0;
}

#cabecera {
    display: inline-flex;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 60px;
}

#cuadricula {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lineavertical {
    border: 1px solid rgb(0, 216, 72);
    height: 40vh;
    min-height: 300px;
    max-height: 530px;
    margin: 0px 50px 0px 50px;
    width: 0;
}

#tabla>table {
    background: white;
    color: black;
    border-spacing: 0;
    overflow: auto;
    width: 90vw;
    max-width: 477px;
    table-layout: auto;
    text-align: center;
    display: table-caption;
}

#comment {
    min-width: 400px;
}

#icon2 {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

#volver {
    width: 24px;
    height: 24px;
    margin: 13px;
}

.delete {
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
}

.button {
    margin: 10px;
    padding: 10px 20px;
    height: 50px;
    width: 125px;
    margin: 0 auto;
}

textarea {
    height: 10vh;
    min-height: 10vh;
    max-height: 10vh;
    width: 278px;
    max-width: 278px;
    min-width: 278px;
}

form {
    display: grid;
    justify-content: center;
}

td {
    padding-inline-end: 10px;
    padding-inline-start: 10px;
}

tr:nth-child(even) {
    background: #FFF
}

tr:nth-child(odd) {
    background: #CCC
}

#error label {
    justify-content: center;
}

.error, .success{
    position: absolute;
    top: 50px;
    left: 0px;
    padding: 10px 0 ;
    border-radius:  0 0 5px 5px;
    color: #fff;
    width: 100%;
    text-align: center;
    display: none;
}

.error{
    background-color: red;
}

.success{
    background-color: green;
}

@media only screen and (max-height: 560px) {
    #content {
        padding: 150px 0 150px 0;
    }

    @media only screen and (max-width: 768px) {
        #content {
            padding: 135px 30px 150px 30px;
        }
    }
}

/* MOVIL */
@media only screen and (max-width: 1000px) {

    #content {
        padding: 130px 0 150px 0;
        height: 100%;
    }

    .content {
        display: block;
    }

    #cabecera h1 {
        font-size: 25px;
        width: 56vw;
    }

    #cuadricula {
        display: block;
        padding-top: 40px;
    }

    #tabla,
    #form {
        display: grid;
        justify-content: center;
    }

    input,
    textarea {
        width: 72vw;
        max-width: 312px;
    }

    #lineavertical {
        border: 1px solid rgb(0, 216, 72);
        height: 0px;
        min-height: 0px;
        margin: 30px auto 0px auto;
        width: 65vw;
    }
}