#proyectos {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

#proyectos img {
    width: 20vw;
    height: 20vw;
    border: 2px solid rgb(0, 216, 72);
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#proyectos p {
    text-align: justify;
}

.item {
    width: 25vw;
    margin: 0 20px;
}

@media only screen and (max-width: 768px) {
    #proyectos {
        display: inline-block;
    }

    #proyectos img {
        width: 50vw;
        height: 50vw;
    }

    .linea {
        border: 1px solid rgb(0, 216, 72);
        height: 0;
        width: 90%;
        margin: 0 auto;
    }

    .item {
        width: 100%;
        margin: 30px 0;
    }
}