.content {
    display: inline-flex;
    justify-content: center;
}

h1 {
    position: absolute;
    top: 70px;
    left: 60px;
}

#content {
    display: flex;
    align-items: center;
}

.button {
    margin: 10px;
    padding: 10px 20px;
    height: 50px;
    width: 125px;
}

input {
    height: 3vh;
    min-height: 18px;
    max-height: 24px;
    width: 90%;
}

label {
    display: flex;
    justify-content: left;
}

form {
    display: inline-block;
    width: 66vw;
    max-width: 328px;
    text-align: center;
}

#content {
    padding: 190px 50px 120px 50px;
}

@media only screen and (max-width: 520px) {
    h1 {
        left: 0;
        text-align: center;
    }
}