.content {
    display: flex;
    align-items: center;
    justify-content: center
}

#content {
    display: block;
}

#tabla {
    background: white;
    color: black;
    border-spacing: 0;
    overflow: auto;
    height: 450px;
    display: table-caption;
}

#cabecera {
    display: inline-flex;
    position: absolute;
    align-items: center;
    top: 70px;
    left: 20px;
}

#user {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

#volver {
    width: 40px;
    height: 40px;
    margin: 20px;
}

#cabecera h1 {
    display: flex;
    align-items: center;
}

#botones {
    margin: 10px;
}

#botones a {
    margin: 10px;
}

td {
    padding-inline-end: 10px;
    padding-inline-start: 10px;
}

.button {
    padding: 0 20px;
    border: 0;
    transition: 0.1s;
}

.button:hover {
    border: 0;
}

.modify {
    background: deepskyblue;
}

.delete {
    background: red;
}

tr:nth-child(even) {
    background: #FFF
}

tr:nth-child(odd) {
    background: #CCC
}