#cerrar {
    position: absolute;
    top: 75px;
    left: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    width: 29vw;
}

.item img {
    padding-bottom: 30px;
    width: 50%;
    margin: 0 auto;
    max-width: 350px;
    display: table;
}

.item a{
    margin: 0 auto;
}

.button {
    display: block;
    align-items: center;
    max-width: 165px;
    text-align: center;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 14px;
}

.content {
    display: flex;
    align-content: center;
    justify-content: center;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 50px 150px 50px;
}


    @media only screen and (max-width: 768px) {
        #content {
            display: block;
        }

        .item {
            width: 35vw;
        }

        .item a {
            margin: 15px auto;
        }

        .button {
            font-size: 12px;
            max-width: 150px;
            padding: 8px 0px;
        }

        .item img {
            width: 35vw;
            padding-bottom: 0;
        }
}