.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    display: block;
    width: 100%;
    padding: 150px 0px 150px 0px;
}

#cabecera {
    display: inline-flex;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 60px;
}

#cuadricula{
    display: flex;
    justify-content: center;
}

#lineavertical {
    border: 1px solid rgb(0, 216, 72);
    height: 55vh;
    min-height: 350px;
    margin: 0px 50px 0px 50px;
    width: 0;
}

#tabla{
    width: 100%;
    justify-items: center;
    overflow: auto;
    max-height: 40vh;
    text-align: center;
}

table{
    width: 100%;
    border-spacing: 0;
    color: black; 
}

.title{
    min-width: 200px;
}

#icon2 {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

label {
    display: block;
}

#izquierda, #form{
    display: grid;
    align-content: center;
    width: 40%;
    height: 50vh;
}

#volver {
    width: 24px;
    height: 24px;
    margin: 13px;
}

.delete, .edit{
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
}

.halfright{
    width: 50%;
    float: right;
    display: grid;
    justify-content: center;
}

.halfleft{
    width: 50%;
    float: left;
    display: grid;
    justify-content: center;
}

.button {
    margin: 10px auto;
    padding: 10px 20px;
    height: 50px;
    width: 125px;
}

input {
    height: 3vh;
    min-height: 18px;
    max-height: 24px;
    width: 278px;
}

textarea {
    min-height: 10vh;
    min-width: 278px;
    max-height: 10vh;
    max-width: 278px;
}

form{
    display: table;
    justify-content: center;
}

td {
    padding-inline-end: 10px;
    padding-inline-start: 10px;
}

tr:nth-child(even) {
    background: #FFF
}

tr:nth-child(odd) {
    background: #CCC
}

#error label {
    justify-content: center;
}

@media only screen and (max-height: 560px){
    #content{
        padding: 150px 0 150px 0;
    }
    @media only screen and (max-width: 768px){
        #content{
            padding: 135px 0 150px 0;
        }
    }
}

@media only screen and (max-width: 768px){

    #cabecera h1{
        font-size: 24px;
    }
}

/* MOVIL */
@media only screen and (max-width: 1345px) {

    #content {
        padding: 130px  0 150px 0;
        height: 100%;
    }

    .content{
        display: block;
    }

    #cuadricula{
        display: block;
        padding-top: 40px;
    }

    #form{
        justify-content: center;
    }
    
    #izquierda,
    #form {
        margin: 0 auto;
        display: grid;
        width: 90%;
        height: 100%;
    }

    input,
    textarea {
        width: 72vw;
        max-width: 312px;
        min-width: 0px;
    }

    #lineavertical {
        border: 1px solid rgb(0, 216, 72);
        height: 0px;
        min-height: 0px;
        margin: 30px auto;
        width: 65vw;
    }

    .halfright, .halfleft{
        width: 100%;
        float: left;
    }

    #form form{
        display: inline-flex;
    }

    @media only screen and (max-width: 800px){
        #form form{
            display: grid;
        }
    }
}