#content {
    padding-top: 110px;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#principal {
    display: flex;
}

#principal img {
    width: 200px;
    height: 200px;
    margin-right: 30px;
    border: 1px solid rgb(0, 216, 72);
    border-radius: 50%;
}

#descripcion {
    width: 250px;
    margin-right: 30px;
}

#secundario {
    display: inline-flex;
    align-items: center;
}

iframe {
    border: 1px solid white;
    width: 90vw;
    height: 40vh;
}

.button {
    padding: 10px 20px;
}

.item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.item img {
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(0, 216, 72);
    border-radius: 50%;
}

#puntuacion img {
    width: 20px;
    height: 20px;
}

.estrella img {
    width: 20px;
    height: 20px;
    border: 0;
}

#comentarios {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    padding-bottom: 50px;
}

#h1comentario {
    grid-column: 1 / span 2;
}

.info {
    display: flex;
}

.estrella {
    margin: 30px;
    display: flex;
    align-items: center;
}

#puntuacion {
    position: absolute;
    display: flex;
    right: 5vw;
}

#cabecera {
    position: absolute;
    display: flex;
    top: 50px;
    justify-content: center;
    width: 100%;
}

#linea {
    border: 1px solid rgb(0, 216, 72);
    width: 90%;
    margin: 60px auto;
}

@media only screen and (max-width: 1000px) {

    .content-inside {
        padding: 50px 0 100px 0;
    }

    #cabecera {
        width: 90%;
    }

    #principal {
        display: flex;
    }

    .estrella {
        margin: 0;
    }

    #content {
        display: block;
        margin: 0 auto;
        width: 90%;
    }

    #comentarios {
        margin: 0 auto;
        width: 90%;
        display: block;
    }

    #puntuacion {
        right: 0px;
        top: 335px;
    }

    .info {
        align-items: center;
    }

    iframe {
        margin-top: 20px;
    }

    .info {
        align-items: center;
    }

    @media only screen and (max-width: 800px) {
        #principal {
            display: block;
            padding-top: 100px;
        }

        #principal img {
            margin: 0;
        }

        .item {
            width: 230px;
            margin: 0 auto;
            display: block;
        }

        #seccion {
            display: grid;
            justify-content: center;
        }

        #puntuacion {
            right: 0px;
            top: 80px;
        }
    }
}